.*
pangenome/exploratory_copy_number/results/*
pangenome/exploratory_copy_number/.snakemake/*
pangenome/exploratory_copy_number/logs/*
pangenome/exploratory_copy_number/resources/*
!.gitignore
!*/.gitignore

.Rproj.user
HPRC_AMY_Sequences/bundle_tree/fasta
HPRC_AMY_Sequences/bundle_tree/iqtree
HPRC_AMY_Sequences/bundle_tree/iqtree_old
HPRC_AMY_Sequences/bundle_tree/kalign
HPRC_AMY_Sequences/bundle_tree/logs
HPRC_AMY_Sequences/bundle_tree/muscle


graph_genotyping/*.sh
*.cra*
*.fa
*.fa.1