{

    "loci":{
        "chr1_p_control_dist1M_1000":{
             "contig":"chr1",
             "start":102500000,
             "end":103500001,
             "window":1000,
             "slide":500
        },
        "chr1_p_control_prox1M_1000":{
             "contig":"chr1",
             "start":103800000,
             "end":103900001,
             "window":1000,
             "slide":500
        },
        "amylase_1000_200":{
             "contig":"chr1",
             "start":103550001,
             "end":103800000,
             "window":1000,
             "slide":200
        },
        "RHD_1000_200":{
             "contig":"chr1",
             "start":25207000,
             "end":  25477000,
             "window":1000,
             "slide":200
        }


   } 


}
